.wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.wrapper button {
    border: none;
    outline: none;
    padding: 10px 15px;
}

button.plus {
    background-color: green;
}

button.minus {
    background-color: red;
}

button:disabled {
    opacity: 0.6;
}